<!-- Styles -->
<style>
#chartdiv4 {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart( "chartdiv4", {
  "type": "pie",
  "theme": "light",
  "titles": [{
  "text": "Tehsil wise population distribution of BISP beneficiaries"
  }],
  "legend":{
    "position":"right",
    "marginRight":100,
    "autoMargins":false
  },
  "dataProvider": [{
    "District": "Ahmadpur",
    "Count": 52859
  }, {
    "District": "Bahawalpur",
    "Count": 19805
  }, {
    "District": "Khairpur",
    "Count": 7554
  }, {
    "District": "Yazman",
    "Count": 17338
  }, {
    "District": "Hasilpur",
    "Count": 7462
  }],
  "valueField": "Count",
  "titleField": "District",
   "balloon":{
   "fixedPosition":true
  },
  "export": {
    "enabled": true
  }
} );
</script>

<!-- HTML -->
<div id="chartdiv4"></div>