
<!DOCTYPE HTML>
<html lang="en">
    

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <title>BISP</title>
    
    <meta name="description" content="Benazir Income Support Program"/>
    <meta name="template" content="global-home-page-template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Custom SEO tags  -->
	
	<meta name="og:url" content="en.html"/>
	<script type="text/javascript" src="en/ruxitagentjs_ICA2SVfqr_10137171222133618.js" data-dtconfig="featureHash=ICA2SVfqr|lastModification=1526452505394|dtVersion=10137171222133618|tp=500,50,0,1|agentUri=/en/ruxitagentjs_ICA2SVfqr_10137171222133618.js|reportUrl=/en/rb_bf28149orj|rid=RID_1501609|rpid=2093196344|domain=gartner.com"></script><link rel="canonical" href="en.html"/>
	
		<meta name="og:locale" content="en_US"/>
	
		<meta name="og:type" content="website"/>
	
		<meta name="og:title" content="BISP: Benazir Income Support Program"/>
	
		<meta name="og:description" content="Benazir Income Support Program"/>
	
		<meta name="og:site_name" content="BISP"/>
	
		<meta name="google-site-verification" content="t3s6jPMvuABTwKzUF2jHu3H-YCL0XYAhePwkoXKDYe4"/>
	
		<meta name="google-site-verification" content="1yO6BbgFgHj_yTXIbKz1Yn5fGeeJyiC7WjPPuOJmp_A"/>
	

	
	<script type=text/javascript src="{{
	url_for('static', filename='ngw/etc/designs/emt/dependencies.min.10e6ed3e5298a3e83fbb0d34eb09efcc.js') }}"></script>
    
	<script type=text/javascript src="{{
	url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.27686db02bc4b00d5d7578b369ea934f.js') }}"></script>
	

<!-- ===================== call API for data values ====================== -->

<script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({"page":{"type":"home page","assetType":["article","blog","event","podcast","research","webinar"],"title":"Fueling the future of business","siteName":"corporate marketing","author":null,"dateOfPublication":null,"originalPublicationDate":"2018-02-12T17:00:00.109Z","mediaDuration":null,"hasMultiMedia":false,"role":null,"industry":null,"theme":null,"categoryLevel1":"Corporate Marketing","categoryLevel2":"Home","categoryLevel3":null,"categoryLevel4":null,"categoryLevel5":null,"promotions":null,"gatedAsset":false},"gartnerEvent":{"eventCode":null,"eventGroup":null,"eventPrimaryRole":null,"eventSecondaryRole":null,"eventLocation":null,"eventTitle":null,"eventStartDate":null,"eventKeyWord":null,"eventRegion":null,"eventType":null,"eventVenueName":null,"eventCurrentMarketingMilestone":null,"eventDaysUntilEventStart":null,"eventWeeksUntilEventStart":null,"marketingManagerName":null,"eventPrice":null,"eventPriceUSD":null,"eventCurrency":null,"eventKeyNoteSpeakers":null,"eventCountofCurrentRegistrants":null},"user":{"userId":null,"creationDate":null,"lastLoginDate":null,"companySize":null,"industryName":null,"jobRole":null,"secondaryJobRole":null,"jobTitle":null,"type":null,"location":null,"country":null,"region":null,"isLoggedIn":null,"countOfEventsAttended":null,"isGartnerClient":null,"market":null,"premiumBoolean":null,"CompanyName":null},"event":"datalayer-initialized"});
</Script>

	
	
	<!--Optimize Page-hide Snippet-->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-M5GGQ9G':true});
</script>
<!-- Google Optimize Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-8394889-3', {'cookieDomain':'auto', 'allowLinker':true, 'legacyHistoryImport':false });
  ga('require', 'GTM-M5GGQ9G');
</script>


    
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../www.googletagmanager.com/gtm5445.html?id='+i+dl+'';f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWNT3B3');</script>
<!-- End Google Tag Manager -->


<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/dependencies.min.7325ef9a8f8b7d0e4454232d42851ced.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.e1c0df31ca5fb0536cccbb4d406087b5.css')}}" type="text/css">

<!-- Graphs -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart( "chartdiv4", {
  "type": "pie",
  "theme": "light",
  "titles": [{
  "text": "Tehsil Level Population Distribution of BISP Beneficiaries"
  }],
  "legend":{
    "position":"right",
    "marginRight":100,
    "autoMargins":false
  },
  "dataProvider": [{
    "District": "Ahmadpur",
    "Count": 172509
  }, {
    "District": "Bahawalpur",
    "Count": 164390
  }, {
    "District": "Khairpur",
    "Count": 41380
  }, {
    "District": "Yazman",
    "Count": 77521
  }, {
    "District": "Hasilpur",
    "Count": 60058
  }],
  "valueField": "Count",
  "titleField": "District",
  "depth3D": 15,
   "balloon":{
   "fixedPosition":true
  },
  "angle": 30,
  "export": {
    "enabled": true
  }
} );
</script>

<!-- Graph 2 -->
 
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var chart = AmCharts.makeChart( "chartdiv", {
  "type": "serial",
  "theme": "light",
  "titles": [{
  "text": "Tehsil Level Distribution of Household Members"
  }],
  "depth3D": 20,
  "angle": 30,
  "legend": {
      "horizontalGap": 10,
      "maxColumns": 1,
      "position": "right",
    "useGraphSettings": true,
    "markerSize": 10
  },
  "dataProvider": [ {
      "category": "Bahawalpur",
      "Only 1 household member": 6608,
      "2 household members": 19904,
      "3 household members": 21407,
      "4 household members": 24810,
      "5 household members": 26101,
      "6 household members": 24540,
      "7 household members": 17813,
      "More than 7 household members": 24207 
  }, {
      "category": "Ahmadpur",
      "Only 1 household member": 9075,
      "2 household members": 25632,
      "3 household members": 24291,
      "4 household members": 25748,
      "5 household members": 24941,
      "6 household members": 22677,
      "7 household members": 17125,
      "More than 7 household members": 23020
  }, {
      "category": "Khairpur",
      "Only 1 household member": 2629,
      "2 household members": 6196,
      "3 household members": 5855,
      "4 household members": 6223,
      "5 household members": 6136,
      "6 household members": 5714,
      "7 household members": 4057,
          "More than 7 household members": 4570 
  }, {
      "category": "Yazman",
      "Only 1 household member": 3661,
      "2 household members": 10702,
      "3 household members": 10400,
      "4 household members": 11597,
      "5 household members": 12256,
      "6 household members": 11203,
      "7 household members": 8110,
      "More than 7 household members": 9592
  }, {
      "category": "Hasilpur",
      "Only 1 household member": 2302,
      "2 household members": 7140,
      "3 household members": 7695,
      "4 household members": 8792,
      "5 household members": 9614,
      "6 household members": 9122,
      "7 household members": 6561,
      "More than 7 household members": 8832 
  }],
  "valueAxes": [ {
    "stackType": "regular",
    "axisAlpha": 0,
    "gridAlpha": 0
  } ],
  "graphs": [ {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "1 Member",
    "type": "column",
    "color": "#000000",
    "valueField": "Only 1 household member"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "2 Members",
    "type": "column",
    "color": "#000000",
    "valueField": "2 household members"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "3 Members",
    "type": "column",
    "newStack": true,
    "color": "#000000",
    "valueField": "3 household members"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "4 Members",
    "type": "column",
    "color": "#000000",
    "valueField": "4 household members"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "5 Members",
    "type": "column",
    "color": "#000000",
    "valueField": "5 household members"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "6 Members",
    "type": "column",
    "color": "#000000",
    "valueField": "6 household members"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "7 Members",
    "type": "column",
    "color": "#000000",
    "valueField": "7 household members"
  }, {
    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
    "fillAlphas": 0.8,
    "labelText": "[[value]]",
    "lineAlpha": 0.3,
    "title": "More than 7 Members",
    "type": "column",
    "color": "#000000",
    "valueField": "More than 7 Members"
  }],
  "categoryField": "category",
  "categoryAxis": {
    "gridPosition": "start",
    "axisAlpha": 0,
    "gridAlpha": 0,
    "position": "left"
  },
  "export": {
    "enabled": true
  }

} );
</script>


<!-- garph 4 -->


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

        <script>
            var chart;

            var chartData1 = [{
        "category": "Ahmadpur",
        "Never attended school": 125232,
        "Class 1 to 5": 22194,
        "Class 6 to 10": 20069,
        "Class 11 or high": 4992
    }, {
        "category": "Bahawalpur",
        "Never attended school": 92734,
        "Class 1 to 5": 25354,
        "Class 6 to 10": 32249,
        "Class 11 or high": 13598
    }, {
        "category": "Yazman",
        "Never attended school": 45218,
        "Class 1 to 5": 13534,
        "Class 6 to 10": 15513,
        "Class 11 or high": 3112
    }, {
        "category": "Khairpur Tamewali",
        "Never attended school": 31075,
        "Class 1 to 5": 4921,
        "Class 6 to 10": 4169,
        "Class 11 or high": 1049
    }, {
        "category": "Hasilpur",
        "Never attended school": 35351,
        "Class 1 to 5": 9557,
        "Class 6 to 10": 12318,
        "Class 11 or high": 2813
    }
            ];

            AmCharts.ready(function () {
                // SERIALL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData1;
                chart.categoryField = "category";
                chart.plotAreaBorderAlpha = 0.2;
                chart.rotate = true;


                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // firstgraph
                var graph = new AmCharts.AmGraph();
                graph.title = "Never attended school";
                graph.labelText = "[[value]]";
                graph.valueField = "Never attended school";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#C72C95";
                graph.balloonText = "<b><span style='color:#C72C95'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // second graph
                graph = new AmCharts.AmGraph();
                graph.title = "Class 1 to 5";
                graph.labelText = "[[value]]";
                graph.valueField = "Class 1 to 5";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#D8E0BD";
                graph.balloonText = "<b><span style='color:#afbb86'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // third graph
                graph = new AmCharts.AmGraph();
                graph.title = "Class 6 to 10";
                graph.labelText = "[[value]]";
                graph.valueField = "Class 6 to 10";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B3DBD4";
                graph.balloonText = "<b><span style='color:#74bdb0'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // fourth graph
                graph = new AmCharts.AmGraph();
                graph.title = "Class 10 or High";
                graph.labelText = "[[value]]";
                graph.valueField = "Class 10 or High";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#69A55C";
                graph.balloonText = "<b><span style='color:#69A55C'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

              
                

                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.position = "right";
                legend.borderAlpha = 0.3;
                legend.horizontalGap = 10;
                legend.switchType = "v";
                chart.addLegend(legend);

                chart.creditsPosition = "top-right";
                chart.depth3D = 20;
                chart.angle = 30;
                chart.validateNow();
                // WRITE
                chart.write("chartdiv5");
            });

        
        </script>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

        <script>
            var chart;

            var chartDatax = [{
        "category": "Ahmadpur",
        "All Children between 5 and 16 Attending School": 19415,
        "Few Children between 5 and 16 Attending School": 18809,
        "No Children between 5 and 16 Attending School": 66549,
        "No Children between 5 and 16": 67734
    }, {
        "category": "Bahawalpur",
        "All Children between 5 and 16 Attending School": 43194,
        "Few Children between 5 and 16 Attending School": 25579,
        "No Children between 5 and 16 Attending School": 32651,
        "No Children between 5 and 16": 62966
    }, {
        "category": "Yazman",
        "All Children between 5 and 16 Attending School": 19049,
        "Few Children between 5 and 16 Attending School": 11392,
        "No Children between 5 and 16 Attending School": 15393,
        "No Children between 5 and 16": 31687
    }, {
        "category": "Khairpur Tamewali",
        "All Children between 5 and 16 Attending School": 4867,
        "Few Children between 5 and 16 Attending School": 5743,
        "No Children between 5 and 16 Attending School": 13688,
        "No Children between 5 and 16": 17082
    }, {
        "category": "Hasilpur",
        "All Children between 5 and 16 Attending School": 16120,
        "Few Children between 5 and 16 Attending School": 8963,
        "No Children between 5 and 16 Attending School": 12035,
        "No Children between 5 and 16": 22940
    }
            ];

            AmCharts.ready(function () {
                // SERIALL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartDatax;
                chart.categoryField = "category";
                chart.plotAreaBorderAlpha = 0.2;
                chart.rotate = true;

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // firstgraph
                var graph = new AmCharts.AmGraph();
                graph.title = "All Children Between 5 and 16 Attending School";
                graph.labelText = "[[value]]";
                graph.valueField = "All Children between 5 and 16 Attending School";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#C72C95";
                graph.balloonText = "<b><span style='color:#C72C95'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // second graph
                graph = new AmCharts.AmGraph();
                graph.title = "Few Children between 5 and 16 Attending School";
                graph.labelText = "[[value]]";
                graph.valueField = "Few Children between 5 and 16 Attending School";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#D8E0BD";
                graph.balloonText = "<b><span style='color:#afbb86'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // third graph
                graph = new AmCharts.AmGraph();
                graph.title = "No Children between 5 and 16 Attending School";
                graph.labelText = "[[value]]";
                graph.valueField = "No Children between 5 and 16 Attending School";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B3DBD4";
                graph.balloonText = "<b><span style='color:#74bdb0'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // fourth graph
                graph = new AmCharts.AmGraph();
                graph.title = "No Children between 5 and 16";
                graph.labelText = "[[value]]";
                graph.valueField = "No Children between 5 and 16";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#69A55C";
                graph.balloonText = "<b><span style='color:#69A55C'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                
                

                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.position = "right";
                legend.borderAlpha = 0.3;
                legend.horizontalGap = 10;
                legend.switchType = "v";
                chart.addLegend(legend);

                chart.creditsPosition = "top-right";
                chart.depth3D = 20;
                chart.angle = 30;
                chart.validateNow();
                // WRITE
                chart.write("chartdiv3");
            });

        
        </script>


</head>
    <body>
        


        <div class="cover"></div>
<div class="emt-container" style="overflow-x: hidden">
     
     <input type="hidden" value="false" id="authorMode"/>
	

	
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWNT3B3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<div class="cmp-globalsitenavigation">
	

<header>
    <div class="container-fluid">
        <div class="container top-nav">
            
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Site Navigation Start -->
<div id="navigation-affix" class="navigation" data-toggle="affix">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="{{ url_for ('new')}}" class="navbar-brand">
				<img src="{{ url_for('static', filename='ngw/logo.jpg')}}" alt="logo" class="logo img-responsive" width="100px">
				
                
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#globalMainMenu" aria-controls="globalMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="login.html">
                <div class="for-mobile m-signin">
					<img class="nav-icons" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
                    
                </div>
            </a>
            <div class="for-mobile m-search">
				<img class="nav-icons" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"   />
                
            </div>
            <div class="collapse navbar-collapse" id="globalMainMenu">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        

                      <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('utransfer')}}">Unconditional Cash Transfers</a>
                  
                    </li>
                    
                
                    <li class="nav-item">
                        
                      <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('wtaleem')}}">Waseela-E-Taleem</a>
                     
                    </li>
                    
                
                    <li class="nav-item">
                           <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('whaq')}}">Waseela-E-Haq</a>
                      
                      </a>
                        
                    </li>


                     <li class="nav-item">
                           <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('bdata')}}"  >Bahawalpur Data</a>
                      
                      </a>
                        
                    </li>
                
                 
               
              <!--  End  -->

                    <li class="bac for-mobile">
                        <div style="padding: 35px 15px 15px;" class="mobile-bac-text">
                            
   <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>

   </div>

                        </div>
                    </li>
                </ul>
                <div class="side-nav" style="float: right; padding-top: 14px">
                  
                    <span class="navicon cli-detail" style="margin-right: 5px; margin-top: -7px;">
                 		


               		</span>
                    <span class="navicon"> 
                    	<span class="d-search hide cmp-search">
               				


    

							<span class="inner-addon right-addon">
								<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
								<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
								<i class="glyphicon glyphicon-search searchNow"></i>
							</span>
               			</span> 
	                    <span> 
	               			<img class="nav-icons d-search-affix" id="search-img" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"  />
							
							<img class="nav-icons d-search-affix hide" id="search-img-grey" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search_grey.jpg') }}"   />
	              		</span>
                        <a class="signinredirect" href="login.html" style="padding-left: 5px;">
                           <img class="nav-icons submit-affix" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
                        </a>
                    </span>
                    
                    
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="m-search-dropdown d-search-slide slideUp cmp-search">
    


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
</div>
<!-- Site Navigation End -->

</div>
	<div class="root responsivegrid">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 ">
    
    

<div class="cmp-globalinsights aem-GridColumn aem-GridColumn--default--12">


    

<section class="home-insight" style="margin-left: 0px; margin-right: 10px">
   <div class="tabs_wrapper" style="margin: 0;">
   	  <ul class="tabs" style="width: 1%;">  
         <li class="active" rel="tab1">Background<i class=" fa fa-chevron-right pull-right"></i></li>
         
         <li rel="tab2" ">Insights<i class="hide fa fa-chevron-right pull-right"></i></li>
         
         <li rel="tab3">BISP Beneficiaries<i class="hide fa fa-chevron-right pull-right"></i></li>
         
         
         

       </ul>
	  	<div class="tab_container" style="width: 80%;">
	  		 <div class="accordian-drawer" rel="tab1">
	  		 	<h3 class="tab_drawer_heading">Background</h3>	
	  		 	<i class="more-less glyphicon glyphicon-plus pull-right">
	  		 	</i>
	  		 </div>	         
	         <div id="tab1" class="tab_content" style="width: 1110px">
	            <div class="row">
	            	<div class="col-sm-12 feature" style="height: 600px">
	                  <!-- <div class="tag-type">Webinar</div> -->
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" style="background-image: url({{ url_for('static', filename='ngw/commonassets/images/vis-imagery/photography/tile/fin_biggest_Investment_Underperforming.jpg') }});">
	                     <a class="feature-content mx-auto my-auto">
	                        <h3 class="heading"><strong>Background</strong></h3>
	                        <p class="content hidden-xs hidden-sm">On national level, there are 35 divisions where this aid is distributed. Support through this aid is provided to all provinces. <br /> <br />

              There are 20,518 recipients of this scheme for the provided data of district Bahawalpur. All recipients of the scheme are females. People across 5 Tehsils and 109 Union Councils are being beneficiaries of this scheme. A majority (95%) of the females who are being supported through this aid program are married, while a few thousand (5%) among them are widows and very few of them are divorced. <br /> <br />

              Most of the women recipients of this scheme have not acquired primary education. Their qualifications are below primary grade. A fraction of these women has received religious education. Four females were graduates and two females have postgraduate qualifications. These females speak 18 different languages. <br /> <br />

              More than 60% of the women recipients of this aid belong to the category who never attended school. There are approximately 75000 women in each category who attended school from grade 1-5 and grade 6-10. Approximately 20,000 women are the ones who have attended college. Number of women receiving support through this program in Bahawalpur and Ahmedpur East Tehsils is much higher than rest of the Tehsils. 70% of the women belong to the category whose children are not attending any school currently, it increases the odds that these women cannot support educational expenses of their children and ultimately these children are being deprived of their very basic rights including education. <br /> <br />

              More than 90% of the recipients do not own a refrigerator in their homes. 2% of the recipients own a tractor and 12% of the overall recipients are the ones who own a motor cycle in their homes. 1% recipients have an air conditioner in their homes. There are 97% recipients whose house contain less than 5 rooms but there are 3% recipients who are living in relatively bigger houses, some of them are so big that they have 20 rooms. 1% of the recipients also own a car. <span id="nam" >    </span>
              </p>
	                        <!-- <span class="link">Watch now </span>   -->                    
	                     </a>
	                  </div>
	               </div>
	            
	            	
	            </div>
	        </div>
	    
	  		 <div class="accordian-drawer" rel="tab2">
	  		 	<h3 class="tab_drawer_heading">Payment Distribution 1</h3>	
	  		 	<i class="more-less glyphicon glyphicon-plus pull-right">
	  		 	</i>
	  		 </div>	         
	         <div id="tab2" class="tab_content" 
           >
	            <div class="row" >


                 <div class="col-sm-12 feature" style="height: 650px">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader" style="padding-left: 10px" >

                      <object type="text/html" data="{{ url_for ('tblm')}}" width="1100px" height="650px"  style="overflow:auto;border:1px #23527c">
                      </object>

                      <script>
                              $("#mydiv")
                                  .html('<object data="{{ url_for ('tblm')}}"/>');
                      </script>
                       
                    </div>
                    </div>

                 <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv4" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div> 

	            	<div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>



                 <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv5" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>

                  <!-- Graph  --> 


                 <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv3" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>
                 

                 
	            
	            	
	            </div>
	        </div>


          <div class="accordian-drawer" rel="tab3">
          <h3 class="tab_drawer_heading">Bisp Beneficiaries</h3>  
          <i class="more-less glyphicon glyphicon-plus pull-right">
          </i>
         </div> 

           <div id="tab3" class="tab_content" style="width: 1110px">
              <div class="row">
                <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv21" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>

                 <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv22" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>

                 <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv23" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>

                 <div class="col-sm-12 feature" style="padding-top: 10px;height: 500px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader"  >

                      <div id="chartdiv24" style="width: 1125px; height: 430px;"></div>
                       
                    </div>
                 </div>
              
                
              </div>
          </div>
	    
	  		 
	            
	            	
	            </div>
	        </div>
	    </div> 
    </div>          
 </section></div>










    
</div></div>

<div style="padding-top: 60px; padding-bottom: 40px;"> </div>

<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">

    
    

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
   
<div class="cmp-globalfooter aem-GridColumn aem-GridColumn--default--12"><footer class="container footer">
   <div class="row mg-20">
      
     
      <div class="col-sm-7 col-sm-offset-0 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4 social-share">
         <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/facebook_36x36.png')}}" alt="Facebook" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/linkedin_36x36.png')}}" alt="LinkedIn" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/twitter_36x36.png')}}" alt="Twitter" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/youtube_36x36.png')}}" alt="YouTube" class="img-responsive"></a>
      </div>
   </div>
   <div class="row">
      <div class="col-md-8 copyright">
         <p class="copyright-text">&copy; 2018 BISP, Inc. and/or its affiliates. All rights reserved.</p>
      </div>
   </div>
</footer></div>


    
</div></div>

    
</div>
</div>

    
</div></div>

	
</div>
        
        <!-- Beneficiary graph 1 -->
        <!-- <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/serial.js"></script> -->

        <script type=text/javascript src="{{url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/serial.js') }}"></script>
        

        <script>
            var chart;

            var chartData21 = [{
                    "tehsil": "Ahmadpur East",
                    "(20 - 30)":   2101,
                    "(30 - 40)":  18211,
                    "(40 - 50)" :   18379,
                    "(50 - 60)" : 7999,
                    "(60 - 70)" : 3948,
                    "(70 - 80)" :1620,
                    "(80 - 90)" :472

                },
                {
                    "tehsil": "Bahawalpur",
                    "(20 - 30)":   530,
                    "(30 - 40)":  6709,
                    "(40 - 50)" :   7965,
                    "(50 - 60)" : 2755,
                    "(60 - 70)" : 955,
                    "(70 - 80)" :613,
                    "(80 - 90)" :240


                },
                {
                    "tehsil": "Hasilpur",
                    "(20 - 30)":   264,
                    "(30 - 40)":  2174,
                    "(40 - 50)" :   2967,
                    "(50 - 60)" : 1138,
                    "(60 - 70)" : 448,
                    "(70 - 80)" :317,
                    "(80 - 90)" :121


                },{
                    "tehsil": "Khairpur Tamewali",
                    "(20 - 30)":   200,
                    "(30 - 40)":  2667,
                    "(40 - 50)" :   2820,
                    "(50 - 60)" : 1053,
                    "(60 - 70)" : 457,
                    "(70 - 80)" :243,
                    "(80 - 90)" :85

                },{
                    "tehsil": "Yazman",
                    "(20 - 30)":   414,
                    "(30 - 40)":  5604,
                    "(40 - 50)" :   6615,
                    "(50 - 60)" : 2928,
                    "(60 - 70)" : 1092,
                    "(70 - 80)" :474,
                    "(80 - 90)" :178


                }
            ];

            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData21;
                chart.categoryField = "tehsil";
                chart.plotAreaBorderAlpha = 0.2;

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                categoryAxis.title="Tehsil Name"

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                valueAxis.title = "Number of People"
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // first graph
                var graph = new AmCharts.AmGraph();
                graph.title = "(20 to 30 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(20 - 30)";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#C72C95";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                chart.addGraph(graph);

                // second graph
                graph = new AmCharts.AmGraph();
                graph.title = "(30 to 40 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(30 - 40)";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#D8E0BD";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                chart.addGraph(graph);

                // third graph
                graph = new AmCharts.AmGraph();
                graph.title = "(40 to 50 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(40 - 50)";
                graph.type = "column";
                graph.newStack = true; // this line starts new stack
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B3DBD4";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                chart.addGraph(graph);

                // fourth graph
                graph = new AmCharts.AmGraph();
                graph.title = "(50 to 60 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(50 - 60)";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#69A55C";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                chart.addGraph(graph);

                // fifth graph
                graph = new AmCharts.AmGraph();
                graph.title = "(60 to 70 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(60 - 70)";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                chart.addGraph(graph);

                // sixth graph
                graph = new AmCharts.AmGraph();
                graph.title = "(70 to 80 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(70 - 80)";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#C72C95";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span class='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                chart.addGraph(graph);

                // seventh graph
                graph = new AmCharts.AmGraph();
                graph.title = "(80 to 90 Years)";
                graph.labelText = "[[value]]";
                graph.valueField = "(80 - 90)";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#F4E23B";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span class='font-size:14px'>People of Age [[title]]:<b>[[value]]</b></span>";
                
                chart.addGraph(graph);

                chart.depth3D = 25;
                chart.angle = 30;
                chart.validateNow();

                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.borderAlpha = 0.2;
                legend.horizontalGap = 10;
                
                legend.position = "bottom";
                chart.addLegend(legend);

                // WRITE
                chart.write("chartdiv21");
            });

            
        </script> 					 
  

        <!-- Beneficiary Graph 2 -->
        <script type=text/javascript src="{{url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/serial.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/themes/light.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/plugins/export/export.min.js') }}"></script>      

        <!-- <script src="node_modules/amcharts3/amcharts/amcharts.js"></script>
        <script src="node_modules/amcharts3/amcharts/serial.js"></script>
        <script src="node_modules/amcharts3/amcharts/plugins/export/export.min.js"></script>
        
        <script src="node_modules/amcharts3/amcharts/themes/light.js"></script> -->
        <script>
            var chart;

            var chartData22 = [{
                    "tehsil": "Ahmadpur East",
                    "below primary":   415,
                    "fa":  6,
                    "graduate" :   1,
                    "matric" : 27,
                    "middle" : 47,
                    "primary" :100,
                    "religious education" :5

                },
                {
                    "tehsil": "Bahawalpur",
                    "below primary" :  737,
                    "fa" : 5,
                    "graduate" :2,
                    "matric"  :15,
                    "middle"  :18,
                    "primary" :65,
                    "religious education" :30


                },
                {
                    "tehsil": "Hasilpur",
                    "below primary" :  46,
                    "fa" : 1,
                    "graduate"  :  1,
                    "matric" : 8,
                    "middle"  :14,
                    "primary": 33,
                    "religious education" :10


                },{
                    "tehsil": "Khairpur Tamewali",
                    "below primary" :  61,
                    "fa" : 1,
                    "matric" : 2,
                    "middle" : 5,
                    "post graduate"  : 1,
                    "primary": 13,
                    "religious education": 4


                },{
                    "tehsil": "Yazman",
                    "below primary"  : 139,
                    "diploma": 1,
                    "fa"  :4,
                    "matric"  :24,
                    "middle"  :44,
                    "post graduate" : 1,
                    "primary" :112,
                    "religious education": 8


                }
            ];

            AmCharts.ready(function () {
                // SERIALL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData22;
                chart.categoryField = "tehsil";
                chart.plotAreaBorderAlpha = 0.2;
                chart.rotate = true;

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                categoryAxis.title = "Tehsil Name"

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                valueAxis.title = "Number of People"
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // firstgraph
                var graph = new AmCharts.AmGraph();
                graph.title = "Below primary";
                graph.labelText = "[[value]]";
                graph.valueField = "below primary";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#C72C95";
                graph.balloonText = "<b><span style='color:#C72C95'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // second graph
                graph = new AmCharts.AmGraph();
                graph.title = "Diploma";
                graph.labelText = "[[value]]";
                graph.valueField = "diploma";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#D8E0BD";
                graph.balloonText = "<b><span style='color:#afbb86'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // third graph
                graph = new AmCharts.AmGraph();
                graph.title = "Matric";
                graph.labelText = "[[value]]";
                graph.valueField = "matric";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B3DBD4";
                graph.balloonText = "<b><span style='color:#74bdb0'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // fourth graph
                graph = new AmCharts.AmGraph();
                graph.title = "Middle";
                graph.labelText = "[[value]]";
                graph.valueField = "middle";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#69A55C";
                graph.balloonText = "<b><span style='color:#69A55C'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // fifth graph
                graph = new AmCharts.AmGraph();
                graph.title = "Post Graduate";
                graph.labelText = "[[value]]";
                graph.valueField = "post graduate";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                graph = new AmCharts.AmGraph();
                graph.title = "Primary";
                graph.labelText = "[[value]]";
                graph.valueField = "primary";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                

                graph = new AmCharts.AmGraph();
                graph.title = "Religious Education";
                graph.labelText = "[[value]]";
                graph.valueField = "religious education";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                

                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.position = "right";
                legend.borderAlpha = 0.3;
                legend.horizontalGap = 10;
                legend.switchType = "v";
                chart.addLegend(legend);

                chart.creditsPosition = "top-right";
                chart.depth3D = 20;
                chart.angle = 30;
                chart.validateNow();
                // WRITE
                chart.write("chartdiv22");
            });

        
        </script>


        <!-- Beneficiary Graph 3 -->

        <script type=text/javascript src="{{url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/serial.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/themes/light.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/plugins/export/export.min.js') }}"></script>

        <!-- <script src="node_modules/amcharts3/amcharts/amcharts.js"></script>
        <script src="node_modules/amcharts3/amcharts/serial.js"></script>
        <script src="node_modules/amcharts3/amcharts/plugins/export/export.min.js"></script>
       
        <script src="node_modules/amcharts3/amcharts/themes/light.js"></script> -->
        <script>
            var chart;

            var chartData23 = [{
                    "tehsil": "Bahawalpur",
                    "government servant" : 3,
                    "house wife" : 8,
                    "none"  : 6,
                    "others"  :1197,
                    "private business" :   39,
                    "private servant": 1,
                    "unemployed" : 169

                },
                {
                    "tehsil": "Ahmadpur East",
                    "general armed forces" :   1,
                    "government servant" : 11,
                    "house wife" : 43,
                    "none"  : 122,
                    "others"  :2438,
                    "private business" :   123,
                    "private servant": 4,
                    "semi government servant" :1,
                    "student" :2,
                    "unemployed" : 616



                },
                {
                    "tehsil": "Hasilpur",
                    "cook" :  1,
                    "government servant" : 2,
                    "house wife"  :  6,
                    "none" : 4,
                    "others"  :412,
                    "private business": 19,
                    "semi government servant" :1,
                    "unemployed": 59



                },{
                    "tehsil": "Khairpur Tamewali",
                    "house wife" :  4,
                    "none" : 1,
                    "others" : 630,
                    "private business" : 15,
                    "private servant"  : 2,
                    "unemployed": 94


                },{
                    "tehsil": "Yazman",
                    "government servant"  : 8,
                    "house wife": 7,
                    "none"  :2,
                    "others"  :153,
                    "private business"  :58,
                    "student" :1,
                    "unemployed": 186


                }
            ];


            ['', '', '', '', '',
       '', '', '', '',
       '', '', 'student']


            AmCharts.ready(function () {
                // SERIALL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData23;
                chart.categoryField = "tehsil";
                chart.plotAreaBorderAlpha = 0.2;
                chart.rotate = true;

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                categoryAxis.title = "Tehsil Name";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                valueAxis.title = "Number of People"
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // firstgraph
                var graph = new AmCharts.AmGraph();
                graph.title = "None";
                graph.labelText = "[[value]]";
                graph.valueField = "none";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#C72C95";
                graph.balloonText = "<b><span style='color:#C72C95'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // second graph
                graph = new AmCharts.AmGraph();
                graph.title = "House Wife";
                graph.labelText = "[[value]]";
                graph.valueField = "house wife";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#D8E0BD";
                graph.balloonText = "<b><span style='color:#afbb86'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // third graph
                graph = new AmCharts.AmGraph();
                graph.title = "Others";
                graph.labelText = "[[value]]";
                graph.valueField = "others";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B3DBD4";
                graph.balloonText = "<b><span style='color:#74bdb0'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // fourth graph
                graph = new AmCharts.AmGraph();
                graph.title = "Unemployed";
                graph.labelText = "[[value]]";
                graph.valueField = "unemployed";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#69A55C";
                graph.balloonText = "<b><span style='color:#69A55C'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                // fifth graph
                graph = new AmCharts.AmGraph();
                graph.title = "Private Business";
                graph.labelText = "[[value]]";
                graph.valueField = "private business";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                graph = new AmCharts.AmGraph();
                graph.title = "Private Servant";
                graph.labelText = "[[value]]";
                graph.valueField = "private servant";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                

                graph = new AmCharts.AmGraph();
                graph.title = "Cook";
                graph.labelText = "[[value]]";
                graph.valueField = "cook";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                graph = new AmCharts.AmGraph();
                graph.title = "Government Servant";
                graph.labelText = "[[value]]";
                graph.valueField = "government servant";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                graph = new AmCharts.AmGraph();
                graph.title = "semi government servant";
                graph.labelText = "[[value]]";
                graph.valueField = "semi government servant";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                graph = new AmCharts.AmGraph();
                graph.title = "General Armed Forces";
                graph.labelText = "[[value]]";
                graph.valueField = "general armed forces";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                graph = new AmCharts.AmGraph();
                graph.title = "Student";
                graph.labelText = "[[value]]";
                graph.valueField = "student";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#B5B8D3";
                graph.balloonText = "<b><span style='color:#7a81be'>[[category]]</b></span><br><span style='font-size:14px'>[[title]]: <b>[[value]]</b></span>";
                graph.labelPosition = "middle";
                chart.addGraph(graph);

                

                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.position = "right";
                legend.borderAlpha = 0.3;
                legend.horizontalGap = 10;
                legend.switchType = "v";
                chart.addLegend(legend);

                chart.creditsPosition = "top-right";
                chart.depth3D = 20;
                chart.angle = 30;
                chart.validateNow();
                // WRITE
                chart.write("chartdiv23");
            });

        
        </script>



              <!-- Beneficiary Graph 4 -->

        <script type=text/javascript src="{{url_for('static', filename='amcharts/amcharts.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='amcharts/serial.js') }}"></script>
        
        <script type=text/javascript src="{{url_for('static', filename='amcharts/themes/none.js') }}"></script>

        <!-- <script src="node_modules/amcharts3/amcharts/amcharts.js"></script>
        <script src="node_modules/amcharts3/amcharts/serial.js"></script>
        <script src="https://www.amcharts.com/lib/3/themes/none.js"></script> -->

        <script>
            var chart;

            var chartData = [
                {
                    "tehsil": "Ahmadpur East",
                    "married": 49979,
                    "divorced": 171,
                    "widowed": 2709
                },
                {
                    "tehsil": "Bahawalpur",
                    "married": 18841,
                    "divorced": 65,
                    "widowed": 899
                },
                {
                    "tehsil": "Hasilpur",
                    "married": 7050,
                    "divorced": 65,
                    "widowed": 369
                },
                {
                    "tehsil": "Khairpur Tamewali",
                    "married": 7210,
                    "divorced": 26,
                    "widowed": 318
                },
                {
                    "tehsil": "Yazman",
                    "married": 16702,
                    "divorced": 47,
                    "widowed": 589
                }
            ];


            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "tehsil";
                chart.color = "#000000";
                chart.fontSize = 14;
                chart.startDuration = 1;
                chart.plotAreaFillAlphas = 0.2;
                // the following two lines makes chart 3D
                chart.angle = 30;
                chart.depth3D = 60;

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.2;
                categoryAxis.gridPosition = "start";
                categoryAxis.gridColor = "#000000";
                categoryAxis.axisColor = "#000000";
                categoryAxis.axisAlpha = 0.5;
                categoryAxis.dashLength = 5;
                categoryAxis.title = "Tehsil Name";

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "3d"; // This line makes chart 3D stacked (columns are placed one behind another)
                valueAxis.gridAlpha = 0.2;
                valueAxis.gridColor = "#000000";
                valueAxis.axisColor = "#000000";
                valueAxis.axisAlpha = 0.5;
                valueAxis.dashLength = 5;
                valueAxis.title = "Number of Females";
                valueAxis.titleColor = "#000000";
                
                chart.addValueAxis(valueAxis);

                // GRAPHS
                

                

                var graph3 = new AmCharts.AmGraph();
                graph3.title = "Divorced";
                graph3.valueField = "divorced";
                graph3.type = "column";
                graph3.lineAlpha = 0;
                graph3.lineColor = "#634e4e";
                graph3.fillAlphas = 1;
                graph3.balloonText = "Number of Females Divorced in [[category]] : <b>[[value]]</b>";
                chart.addGraph(graph3);


                // second graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Widowed";
                graph2.valueField = "widowed";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#f4a742";
                graph2.fillAlphas = 1;
                graph2.balloonText = "Number of Females Widowed in [[category]] : <b>[[value]]</b>";
                chart.addGraph(graph2);



                // first graph
                var graph1 = new AmCharts.AmGraph();
                graph1.title = "Married";
                graph1.valueField = "married";
                graph1.type = "column";
                graph1.lineAlpha = 0;
                graph1.lineColor = "#ff6d6d";
                graph1.fillAlphas = 1;
                graph1.balloonText = "Number of Females Married in [[category]] : <b>[[value]]</b>";
                chart.addGraph(graph1);




                chart.write("chartdiv24");
            });




        </script>
    </body>

</html>
