
<!DOCTYPE HTML>
<html lang="en">
    

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <title>BISP</title>
    
    <meta name="description" content="Benazir Income Support Program"/>
    <meta name="template" content="global-home-page-template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Custom SEO tags  -->
	
	<meta name="og:url" content="en.html"/>
	<script type="text/javascript" src="en/ruxitagentjs_ICA2SVfqr_10137171222133618.js" data-dtconfig="featureHash=ICA2SVfqr|lastModification=1526452505394|dtVersion=10137171222133618|tp=500,50,0,1|agentUri=/en/ruxitagentjs_ICA2SVfqr_10137171222133618.js|reportUrl=/en/rb_bf28149orj|rid=RID_1501609|rpid=2093196344|domain=gartner.com"></script> <link rel="canonical" href="en.html"/>
	
		<meta name="og:locale" content="en_US"/>
	
		<meta name="og:type" content="website"/>
	
		<meta name="og:title" content="BISP: Benazir Income Support Program"/>
	
		<meta name="og:description" content="Benazir Income Support Program"/>
	
		<meta name="og:site_name" content="BISP"/>
	
		<meta name="google-site-verification" content="t3s6jPMvuABTwKzUF2jHu3H-YCL0XYAhePwkoXKDYe4"/>
	
		<meta name="google-site-verification" content="1yO6BbgFgHj_yTXIbKz1Yn5fGeeJyiC7WjPPuOJmp_A"/>
	

    

    

	

<script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({"page":{"type":"home page","assetType":["article","blog","event","podcast","research","webinar"],"title":"Fueling the future of business","siteName":"corporate marketing","author":null,"dateOfPublication":null,"originalPublicationDate":"2018-02-12T17:00:00.109Z","mediaDuration":null,"hasMultiMedia":false,"role":null,"industry":null,"theme":null,"categoryLevel1":"Corporate Marketing","categoryLevel2":"Home","categoryLevel3":null,"categoryLevel4":null,"categoryLevel5":null,"promotions":null,"gatedAsset":false},"gartnerEvent":{"eventCode":null,"eventGroup":null,"eventPrimaryRole":null,"eventSecondaryRole":null,"eventLocation":null,"eventTitle":null,"eventStartDate":null,"eventKeyWord":null,"eventRegion":null,"eventType":null,"eventVenueName":null,"eventCurrentMarketingMilestone":null,"eventDaysUntilEventStart":null,"eventWeeksUntilEventStart":null,"marketingManagerName":null,"eventPrice":null,"eventPriceUSD":null,"eventCurrency":null,"eventKeyNoteSpeakers":null,"eventCountofCurrentRegistrants":null},"user":{"userId":null,"creationDate":null,"lastLoginDate":null,"companySize":null,"industryName":null,"jobRole":null,"secondaryJobRole":null,"jobTitle":null,"type":null,"location":null,"country":null,"region":null,"isLoggedIn":null,"countOfEventsAttended":null,"isGartnerClient":null,"market":null,"premiumBoolean":null,"CompanyName":null},"event":"datalayer-initialized"});
</Script>

	
	
	<!--Optimize Page-hide Snippet-->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-M5GGQ9G':true});
</script>
<!-- Google Optimize Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-8394889-3', {'cookieDomain':'auto', 'allowLinker':true, 'legacyHistoryImport':false });
  ga('require', 'GTM-M5GGQ9G');
</script>


    
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../www.googletagmanager.com/gtm5445.html?id='+i+dl+'';f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWNT3B3');</script>
<!-- End Google Tag Manager -->




    
<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/dependencies.min.7325ef9a8f8b7d0e4454232d42851ced.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.e1c0df31ca5fb0536cccbb4d406087b5.css')}}" type="text/css">


   

</head>
    <body>
        


        <div class="cover"></div>
<div class="emt-container" style="overflow-x: hidden">
     
     <input type="hidden" value="false" id="authorMode"/>
	

	
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWNT3B3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<div class="cmp-globalsitenavigation">
	

<header>
    <div class="container-fluid">
        <div class="container top-nav">
            <div class="row header-row">
                <div class="col-md-6">
                    <a href="{{ url_for ('new')}}">
						<img class="logo img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/logo.jpg') }}" width="170" height="70" />
                        <!-- <img class="logo img-responsive" alt="logo" src="ngw/logo.jpg" width="170" height="70"/> -->
                    </a>
                </div>
                <div class="col-md-6 my-auto header-text">
                    
   <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>
<h5>
<!-- <strong> ###### </strong> -->
</h5>
   </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Site Navigation Start -->
<div id="navigation-affix" class="navigation" data-toggle="affix">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="en.html" class="navbar-brand">
				<img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/logo.jpg') }}" width="100px"  />
                <!-- <img src="ngw/logo.jpg" width="100px" class="img-responsive"> -->
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#globalMainMenu" aria-controls="globalMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="globalMainMenu">
               
                    <li class="bac for-mobile">
                        <div style="padding: 35px 15px 15px;" class="mobile-bac-text">
                            
   <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>

   </div>

                        </div>
                    </li>
                </ul>
                <div class="side-nav" style="float: right; padding-top: 14px">
                    
                    <span class="navicon cli-detail" style="margin-right: 5px; margin-top: -7px;">
                 		
   <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>

   </div>

               		</span>
                    <span class="navicon"> 
                    	<span class="d-search hide cmp-search">
               				


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
               			</span> 
	                    <span> 
							<img class="nav-icons d-search-affix" id="search-img" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"  />
							
							<img class="nav-icons d-search-affix hide" id="search-img-grey" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search_grey.jpg') }}"   />
							
	               	
	              		</span>
                        <a class="signinredirect" href="{{ url_for ('lgin')}}" style="padding-left: 5px;">
							<img class="nav-icons submit-affix" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
							
                           
                        </a>
                    </span>
                    <span class="navicon">
                        <button class="btn btn-success signin hide" id="signin-button">Sign in</button> 
                    </span>
                    
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="m-search-dropdown d-search-slide slideUp cmp-search">
    


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
</div>
<!-- Site Navigation End -->

</div>
	<div class="root responsivegrid">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 ">
    
    <div class="cmp-hero aem-GridColumn aem-GridColumn--default--12">

    



<section>
   <div class="masthead" style="background-image: url({{ url_for('static', filename='ngw/slide1.jpg') }});">
      
      <div class="container ">
         <div class="row">
            <div class="col-lg-6 content">
               <h2>Benazir <span style="color: rgb(0,88,157);">Income Support Program</span></h2>
				<h3> </h3>
				<p>A targeted unconditional cash transfer program in Pakistan for poor.</p>

            </div>
         </div>
      </div>
   </div>
</section></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:0px; padding-bottom:68px;">
	</div></div>
<div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 ">
    
    <div class="cmp-articletext aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--tablet--none aem-GridColumn--phone--8 aem-GridColumn aem-GridColumn--tablet--8 aem-GridColumn--offset--phone--2 aem-GridColumn--default--6 aem-GridColumn--offset--default--3 aem-GridColumn--offset--tablet--2">

    

<article class=" article-text port">
   <div><h3 style="text-align: center;">BISP <span style="color: rgb(0,88,157);">Success Stories</span></h3></div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:25px; padding-bottom:25px;">
	</div></div>

    
</div></div>
<div class="cmp-columncontrol aem-GridColumn aem-GridColumn--default--12">

    

 
        
        
        
        
        

<section class="column-control port">
        
        
        
        
        
        
        
        <div class="row column-control-row" style="margin-top:0px;  margin-bottom:0px;  margin-left:52px; margin-right:52px;">
                <div class="col-sm-4">
                        <div>
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-articletext aem-GridColumn aem-GridColumn--default--12">

    

<article class=" article-text port">
   <div><h3 style="font-size: 18px;">NATIONAL SOCIO-ECONOMIC REGISTRY</h3>
<p> </p>
<p style="font-size: 16px;">PML-N Government has initiated the updating of the NSER using the technologically advanced CAPI approach.<br />
</p>
</div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

    
</div></div>
                </div>
                <div class="col-sm-4">
                        <div>
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-articletext aem-GridColumn aem-GridColumn--default--12">

    

<article class=" article-text port">
   <div><h3 style="font-size: 18px;">BISP’S INNOVATION IN G2P PAYMENTS</h3>
<p> </p>
<p style="font-size: 16px;">BISP as the leader in technologically driven payment mechanism.<br />
</p>
</div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

    
</div></div>
                </div>
                <div class="col-sm-4">
                        <div>
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-articletext aem-GridColumn aem-GridColumn--default--12">

    

<article class=" article-text port">
   <div><h3 style="font-size: 18px;">WASEELA-E-TALEEM</h3>
<p> </p>
<p style="font-size: 16px;">Over 1.3 million children enrolled in 32 districts under Waseela-e-Taleem</p>
<p> </p>
</div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

    
</div></div>
                </div>
        </div>
                
        
        

        
        
        <div class="row column-control-row" style="margin-top:0px;  margin-bottom:0px;  margin-left:52px; margin-right:52px;">
                <div class="col-sm-4">
                        <div>
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-articletext aem-GridColumn aem-GridColumn--default--12">

    

<article class=" article-text port">
   <div><h3 style="font-size: 18px;">COMPLEMENTARY INITIATIVES</h3>
<p> </p>
<p style="font-size: 16px;">From cash dependency to graduation out of poverty, BISP acts as a main platform for Complementary Initiatives.<br />
</p>
</div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

    
</div></div>
                </div>
                <div class="col-sm-4">
                        <div>
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-articletext aem-GridColumn aem-GridColumn--default--12">

    

<article class=" article-text port">
   <div><h3 style="font-size: 18px;">WOMEN EMPOWERMENT</h3>
<p> </p>
<p style="font-size: 16px;">BISP, as a prime leader in women empowerment, has constituted 48,988 BISP Beneficiary Committees across 32 districts.<br />
</p>
</div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

    
</div></div>
                </div>
                <div class="col-sm-4">
                        <div>
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-articletext aem-GridColumn aem-GridColumn--default--12">

    

<article class=" article-text port">
   <div><h3 style="font-size: 18px;">BUDGET INCREASE</h3>
<p> </p>
<p style="font-size: 16px;">Under the PML-N Government, BISP budget has increased from Rs. 40 billion to Rs. 115 billion.</p>
<p> </p>
</div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

    
</div></div>
                </div>
        </div>
                        
        
        
        
        
        
        
        
        
</section></div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:25px; padding-bottom:25px;">
	</div></div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:10px; padding-bottom:10px;">
	</div></div>



<div class="cmp-backgroundcontainer aem-GridColumn aem-GridColumn--default--12">

  

<input type="hidden" class="differentBgMobile" value="false">
<input type="hidden" class="desktopStyle" value="background-color:#00589D">
<input type="hidden" class="mobileStyle">
<section>
	<div class="background-container " style="background-color:#00589D">
		
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--3">

    

	<article class=" article-text port">
	   <div> 
	   		<h4 style="text-align: center; font-size: 24px;"><span style="color: rgb(255,255,255);font-weight: normal;">$1.15 BILLION</span></h4>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> ANNUAL BUDGET</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--3">

    

	<article class=" article-text port">
	   <div> 
	   		<h4 style="text-align: center;font-size: 24px;"><span style="color: rgb(255,255,255);font-weight: normal;">2,381</span></h4>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> BISP EMPLOYEES</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--3">

    

	<article class=" article-text port">
	   <div> 
	   		<h4 style="text-align: center;font-size: 24px;"><span style="color: rgb(255,255,255);font-weight: normal;">5.4 Million</span></h4>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> BENEFICIARIES</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--3">

    

	<article class=" article-text port">
	   <div> 
	   		<h4 style="text-align: center;font-size: 24px;"><span style="color: rgb(255,255,255);font-weight: normal;">1.9 Million</span></h4>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> CHILDREN ENROLLED UNDER WET</p>

		</div>
	</article>
</div>



<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div>

	</div>

    
</div>
	</div>
</section></div>


    
</div></div>









<div class="cmp-backgroundcontainer aem-GridColumn aem-GridColumn--default--12">

  


<section>
	<div class="background-container " style="background-color:#f3f3f3 !important">
		
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">


	<div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 " style="padding-top:65px;">
    
    <div class="cmp-articletext aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--tablet--none aem-GridColumn--phone--8 aem-GridColumn aem-GridColumn--tablet--8 aem-GridColumn--offset--phone--2 aem-GridColumn--default--6 aem-GridColumn--offset--default--3 aem-GridColumn--offset--tablet--2">

    

<article class=" article-text port">
   <div><h3 style="text-align: center;">BISP <span style="color: rgb(0,88,157);">INITIATIVES</span></h3></div>
</article></div>
<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:25px; padding-bottom:25px;">
	</div></div>

    
</div></div>



    
    <div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:20px; padding-bottom:20px;">
	</div></div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--2">

    

	<article class=" article-text port">
	   <div> 
	   		<div class="col-md-12 pd-b30">
		         <a href="#" target="_blank"> 
				 <img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/initiative/taleem.png') }}" width="170px"  />
				
		         </a>
		    </div>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> Waseela-E-Taleem</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--2">

    

	<article class=" article-text port">
	   <div> 
	   		<div class="col-md-12 pd-b30">
		         <a href="index.html" target="_blank"> 
				  <img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/initiative/NSER.png') }}" width="170px"  />
				 
		         </a>
		    </div>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> NSER</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--2">

    

	<article class=" article-text port">
	   <div> 
	   		<div class="col-md-12 pd-b30">
		         <a href="index.html" target="_blank"> 
				 <img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/initiative/ecommerce-new.png') }}" width="170px"  />
				 
		         </a>
		    </div>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> E-Commerce</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--2">

    

	<article class=" article-text port">
	   <div> 
	   		<div class="col-md-12 pd-b30">
		         <a href="index.html" target="_blank"> 
				 <img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/initiative/Cash-Grant.png') }}" width="170px"  />
				 
		         </a>
		    </div>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> Cash Grant</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--2">

    

	<article class=" article-text port">
	   <div> 
	   		<div class="col-md-12 pd-b30">
		         <a href="index.html" target="_blank"> 
				 <img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/initiative/financial.png') }}" width="170px"  />
				 
		         </a>
		    </div>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> Waseela-E-Haq</p>

		</div>
	</article>
</div>

<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--2">

    

	<article class=" article-text port">
	   <div> 
	   	
	   		<div class="col-md-12 pd-b30">
		         <a href="index.html" target="_blank"> 
				 <img class="img-responsive" alt="logo" src="{{ url_for('static', filename='ngw/initiative/Health.png') }}" width="170px"  />
				 
		         </a>
		    </div>
	   		<br />
	   		<p style="text-align: center;font-size: 14px;"> Waseela-E-Sehat</p>

		</div>
	</article>
</div>



<div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:40px; padding-bottom:50px;">
	</div>

	</div>

    
</div>
	</div>
</section></div>
<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">

    
    

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="cmp-spacer aem-GridColumn aem-GridColumn--default--12">

    

<div class="cmp-spacer-child" style="padding-top:10px; padding-bottom:10px;">
	</div></div>
<div class="cmp-globalfooter aem-GridColumn aem-GridColumn--default--12"><footer class="container footer">
   <div class="row mg-20">
   
      <div>
        
      
      </div>
      <div class="col-sm-7 col-sm-offset-0 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4 social-share">
	 
         <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/facebook_36x36.png')}}" alt="Facebook" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/linkedin_36x36.png')}}" alt="LinkedIn" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/twitter_36x36.png')}}" alt="Twitter" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/youtube_36x36.png')}}" alt="YouTube" class="img-responsive"></a>
		 
        
      </div>
   </div>
   <div class="row">
      <div class="col-md-8 copyright">
         <p class="copyright-text">&copy; 2018 BISP, Inc. and/or its affiliates. All rights reserved.</p>
      </div>
   </div>
</footer></div>
<div class="cmp-freeform aem-GridColumn aem-GridColumn--default--12">

    


<section class="port">
	<!-- cp-footer -->
</section>
</div>

    
</div></div>

    
</div>
</div>

    
</div></div>

	
</div>
        
    
    

<script type=text/javascript src="{{
  url_for('static', filename='ngw/etc/designs/emt/dependencies.min.10e6ed3e5298a3e83fbb0d34eb09efcc.js') }}"></script>
    
<script type=text/javascript src="{{
  url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.27686db02bc4b00d5d7578b369ea934f.js') }}"></script>
    

        

    </body>

</html>
