<!doctype html>
<html>

<head>
	
	<script type=text/javascript src="{{
	url_for('static', filename='graph/dist/Chart.js') }}"></script>
	
	<script type=text/javascript src="{{
	url_for('static', filename='graph/utils.js') }}"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div >
		<canvas id="canvas3"></canvas>
	</div>

	<script>
		var barChartData = {
			labels: ['2008-09','2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16'],
			datasets: [{
				label: 'Post Office',
				backgroundColor: window.chartColors.red,
				data: [1756371,2552994,2850650,3617771,1740733,318313,322480,341542]
			}, {
				label: 'Debit Card',
				backgroundColor: window.chartColors.blue,
				data: [0,0,0,1305507,3308491,4011676,4445716,4648754]
			},{
				label: 'Cell Phone',
				backgroundColor: window.chartColors.green,
				data: [0,0,70878,139460,148424,143328,131962,126385]
			},{
				label: 'Smart Card',
				backgroundColor: window.chartColors.yellow,
				data: [0,23025,174936,166715,173630,172239,171823,95706]
			}]

		};
		window.onload = function() {
			var ctx = document.getElementById('canvas3').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {scales: {
						xAxes: [{
							stacked: true,
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Year'
							}
						}],
						yAxes: [{
							stacked: true,
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Number of Benificiaries'
							}
						}]
					},


					title: {
						display: true,
						text: 'Payment Distribution Mechanism'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
						callbacks: {
						      	afterLabel: function(tooltipItem, data) {
						        	var sum = data.datasets.reduce((sum, dataset) => {
						          	return sum + dataset.data[tooltipItem.index];
						          }, 0);
						          var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
						          percent = percent.toFixed(2); // make a nice string
						          return percent + '%';
						        }
						      }
					},
					responsive: true
				}
			});
		};

		
	</script>
</body>

</html>
