
<!DOCTYPE HTML>
<html lang="en">
    

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <title>BISP</title>
    
    <meta name="description" content="Benazir Income Support Program"/>
    <meta name="template" content="global-home-page-template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Custom SEO tags  -->
	
	<meta name="og:url" content="en.html"/>
	<script type="text/javascript" src="en/ruxitagentjs_ICA2SVfqr_10137171222133618.js" data-dtconfig="featureHash=ICA2SVfqr|lastModification=1526452505394|dtVersion=10137171222133618|tp=500,50,0,1|agentUri=/en/ruxitagentjs_ICA2SVfqr_10137171222133618.js|reportUrl=/en/rb_bf28149orj|rid=RID_1501609|rpid=2093196344|domain=gartner.com"></script><link rel="canonical" href="en.html"/>
	
		<meta name="og:locale" content="en_US"/>
	
		<meta name="og:type" content="website"/>
	
		<meta name="og:title" content="BISP: Benazir Income Support Program"/>
	
		<meta name="og:description" content="Benazir Income Support Program"/>
	
		<meta name="og:site_name" content="BISP"/>
	
		<meta name="google-site-verification" content="t3s6jPMvuABTwKzUF2jHu3H-YCL0XYAhePwkoXKDYe4"/>
	
		<meta name="google-site-verification" content="1yO6BbgFgHj_yTXIbKz1Yn5fGeeJyiC7WjPPuOJmp_A"/>
	

    

    

	

<script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({"page":{"type":"home page","assetType":["article","blog","event","podcast","research","webinar"],"title":"Fueling the future of business","siteName":"corporate marketing","author":null,"dateOfPublication":null,"originalPublicationDate":"2018-02-12T17:00:00.109Z","mediaDuration":null,"hasMultiMedia":false,"role":null,"industry":null,"theme":null,"categoryLevel1":"Corporate Marketing","categoryLevel2":"Home","categoryLevel3":null,"categoryLevel4":null,"categoryLevel5":null,"promotions":null,"gatedAsset":false},"gartnerEvent":{"eventCode":null,"eventGroup":null,"eventPrimaryRole":null,"eventSecondaryRole":null,"eventLocation":null,"eventTitle":null,"eventStartDate":null,"eventKeyWord":null,"eventRegion":null,"eventType":null,"eventVenueName":null,"eventCurrentMarketingMilestone":null,"eventDaysUntilEventStart":null,"eventWeeksUntilEventStart":null,"marketingManagerName":null,"eventPrice":null,"eventPriceUSD":null,"eventCurrency":null,"eventKeyNoteSpeakers":null,"eventCountofCurrentRegistrants":null},"user":{"userId":null,"creationDate":null,"lastLoginDate":null,"companySize":null,"industryName":null,"jobRole":null,"secondaryJobRole":null,"jobTitle":null,"type":null,"location":null,"country":null,"region":null,"isLoggedIn":null,"countOfEventsAttended":null,"isGartnerClient":null,"market":null,"premiumBoolean":null,"CompanyName":null},"event":"datalayer-initialized"});
</Script>

	
	
	<!--Optimize Page-hide Snippet-->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-M5GGQ9G':true});
</script>
<!-- Google Optimize Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-8394889-3', {'cookieDomain':'auto', 'allowLinker':true, 'legacyHistoryImport':false });
  ga('require', 'GTM-M5GGQ9G');
</script>


    
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../www.googletagmanager.com/gtm5445.html?id='+i+dl+'';f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWNT3B3');</script>
<!-- End Google Tag Manager -->




<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/dependencies.min.7325ef9a8f8b7d0e4454232d42851ced.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.e1c0df31ca5fb0536cccbb4d406087b5.css')}}" type="text/css">

<!-- ---------------------------------Graphs--------------------------------------------- -->

<script type=text/javascript src="{{
  url_for('static', filename='graph/dist/Chart.js') }}"></script>
  
<script type=text/javascript src="{{
  url_for('static', filename='graph/utils.js') }}"></script>
  

<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>


<script>
		var chartData = {
			labels: ['2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16'],
			datasets: [{
				type: 'line',
				label: 'Smart Card',
				borderColor: window.chartColors.yellow,
				backgroundColor: window.chartColors.yellow,
				borderWidth: 2,
				fill: false,
				data: [69.1,1456.9,1777.9,2258,2305.2,2900.2,2129.1]
			}, {
				type: 'bar',
				label: 'Cell Phone',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				borderWidth: 2,
				fill: false,
				data: [0,444.1,1318.9,1633,1963.3,2335.8,2326.7]
			}]

		};

		
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myMixedChart = new Chart(ctx, {
				type: 'bar',
				data: chartData,
				options: {
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Year'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Amount Disbursed (Million PKR)'
							}
						}]
					},

					responsive: true,
					title: {
						display: true,
						text: 'Payments Distribution Mechanism'
					},
					tooltips: {
						mode: 'index',
						intersect: true,
						callbacks: {
						      	afterLabel: function(tooltipItem, data) {
						        	var sum = data.datasets.reduce((sum, dataset) => {
						          	return sum + dataset.data[tooltipItem.index];
						          }, 0);
						          var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
						          percent = percent.toFixed(2); // make a nice string
						          return percent + '%';
						        }
						      }




					}
				}
			});
		};

		
	</script>


	<!-- last chart -->

	
<script type=text/javascript src="{{
  url_for('static', filename='graph/dist/Chart.js') }}"></script>
  
 <script type=text/javascript src="{{
  url_for('static', filename='graph/utils.js') }}"></script>

<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

	<script>
		var barChartData = {
			labels: ['2008-09','2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16'],
			datasets: [{
				label: 'Post Office',
				backgroundColor: window.chartColors.red,
				data: [1756371,2552994,2850650,3617771,1740733,318313,322480,341542]
			}, {
				label: 'Debit Card',
				backgroundColor: window.chartColors.blue,
				data: [0,0,0,1305507,3308491,4011676,4445716,4648754]
			},{
				label: 'Cell Phone',
				backgroundColor: window.chartColors.green,
				data: [0,0,70878,139460,148424,143328,131962,126385]
			},{
				label: 'Smart Card',
				backgroundColor: window.chartColors.yellow,
				data: [0,23025,174936,166715,173630,172239,171823,95706]
			}]

		};
		window.onload = function() {
			var ctx = document.getElementById('canvaschart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {scales: {
						xAxes: [{
							stacked: true,
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Year'
							}
						}],
						yAxes: [{
							stacked: true,
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Number of Benificiaries'
							}
						}]
					},


					title: {
						display: true,
						text: 'Payment Distribution Mechanism'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
						callbacks: {
						      	afterLabel: function(tooltipItem, data) {
						        	var sum = data.datasets.reduce((sum, dataset) => {
						          	return sum + dataset.data[tooltipItem.index];
						          }, 0);
						          var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
						          percent = percent.toFixed(2); // make a nice string
						          return percent + '%';
						        }
						      }
					},
					responsive: true
				}
			});
		};

		
	</script>



   

</head>
    <body>
        


        <div class="cover"></div>
<div class="emt-container" style="overflow-x: hidden">
     
     <input type="hidden" value="false" id="authorMode"/>
	

	
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWNT3B3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<div class="cmp-globalsitenavigation">
	

<header>
    <div class="container-fluid">
        <div class="container top-nav">
           
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Site Navigation Start -->
<div id="navigation-affix" class="navigation" data-toggle="affix">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="{{ url_for ('new')}}" class="navbar-brand">
                <img src="{{ url_for('static', filename='ngw/logo.jpg')}}" alt="logo" class="logo img-responsive" width="100px">
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#globalMainMenu" aria-controls="globalMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="login.html">
                <div class="for-mobile m-signin">
                    <img class="nav-icons" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
                </div>
            </a>
            <div class="for-mobile m-search">
                <img class="nav-icons" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"   />
            </div>
            <div class="collapse navbar-collapse" id="globalMainMenu">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        

                      <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('utransfer')}}">Unconditional Cash Transfers</a>
                  
                    </li>
                    
                
                    <li class="nav-item">
                        
                      <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('wtaleem')}}">Waseela-E-Taleem</a>
                     
                    </li>
                    
                
                    <li class="nav-item">
                           <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('whaq')}}">Waseela-E-Haq</a>
                      
                      </a>
                        
                    </li>


                     <li class="nav-item">
                           <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('bdata')}}">Bahawalpur Data</a>
                      
                      </a>
                        
                    </li>
                
                 
               
              <!--  End  -->

                    <li class="bac for-mobile">
                        <div style="padding: 35px 15px 15px;" class="mobile-bac-text">
                            
   <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>

   </div>

                        </div>
                    </li>
                </ul>
                <div class="side-nav" style="float: right; padding-top: 14px">
                    <!-- <span class="navicon client hide" style="padding-top: 5px;">
	           		    <a class="green-text" href="technology/contact/become-a-client.html" target="blank">Become a Client</a>
	            	</span> -->
                    <span class="navicon cli-detail" style="margin-right: 5px; margin-top: -7px;">
                 		


               		</span>
                    <span class="navicon"> 
                    	<span class="d-search hide cmp-search">
               				


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
               			</span> 
	                    <span> 
	               			<img class="nav-icons d-search-affix" id="search-img" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"  />
							
							<img class="nav-icons d-search-affix hide" id="search-img-grey" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search_grey.jpg') }}"   />
	              		</span>
                        <a class="signinredirect" href="login.html" style="padding-left: 5px;">
                            <img class="nav-icons submit-affix" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
                        </a>
                    </span>
                    
                    
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="m-search-dropdown d-search-slide slideUp cmp-search">
    


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
</div>
<!-- Site Navigation End -->

</div>
	<div class="root responsivegrid">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 ">
    
    

<div class="cmp-globalinsights aem-GridColumn aem-GridColumn--default--12">


    

<section class="home-insight" style="margin-left: 0px; margin-right: 10px">
   <div class="tabs_wrapper" style="margin: 0;">
   	  <ul class="tabs" style="width: 1%;">  
         <li class="active" rel="tab1">Background<i class=" fa fa-chevron-right pull-right"></i></li>
         
         <li rel="tab2">Insights<i class="hide fa fa-chevron-right pull-right"></i></li>
         
         <!-- <li rel="tab3">Payment Distribution 2<i class="hide fa fa-chevron-right pull-right"></i></li>
         
         <li rel="tab4">Payment Distribution Mechanism<i class="hide fa fa-chevron-right pull-right"></i></li> -->
         

       </ul>
	  	<div class="tab_container" style="width: 80%;">
	  		 <div class="accordian-drawer" rel="tab1">
	  		 	<h3 class="tab_drawer_heading">Background</h3>	
	  		 	<i class="more-less glyphicon glyphicon-plus pull-right">
	  		 	</i>
	  		 </div>	         
	         <div id="tab1" class="tab_content" style="width: 1110px">
	            <div class="row">
	            	<div class="col-sm-12 feature">
	                  <!-- <div class="tag-type">Webinar</div> -->
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" style="background-image: url({{ url_for('static', filename='ngw/commonassets/images/vis-imagery/photography/tile/fin_biggest_Investment_Underperforming.jpg') }});">
	                     <a class="feature-content mx-auto my-auto">
	                        <h3 class="heading"><strong>Background</strong></h3>
	                        <p class="content hidden-xs hidden-sm">The Unconditional Cash Transfers (UCT) Programme, the core programme of BISP, was initiated in 2008. The short term objective of the programme was to cushion the adverse impacts of the food, fuel and financial crisis on the poor, but its broader objective is to meet the redistributive goals of the country by providing a minimum income support package to the chronically poor and those who are more likely to be affected negatively by future economic shocks.</p>
	                        <!-- <span class="link">Watch now </span>   -->                    
	                     </a>
	                  </div>
	               </div>
	            
	            	
	            </div>
	        </div>
	    
	  		 <div class="accordian-drawer" rel="tab2">
	  		 	<h3 class="tab_drawer_heading">Payment Distribution 1</h3>	
	  		 	<i class="more-less glyphicon glyphicon-plus pull-right">
	  		 	</i>
	  		 </div>	         
	         <div id="tab2" class="tab_content" style="width: 1110px">
	            <div class="row">
	            	<div class="col-sm-12 feature" style="height: 530px;">

	               
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  	<iframe width="1050" height="520" frameborder="0" scrolling="no" src="{{ url_for ('pdist1')}}"></iframe>
	                  	
	                     
	                  </div>
	               </div> 
	               

	               		
	               <div class="col-sm-12 feature" style="height: 530px;padding-top: 40px;">

	                
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  		
	                  	
	                     <iframe width="1050" height="530" frameborder="0" scrolling="no" src="{{ url_for ('pdist2')}}"></iframe>
	                  </div>
	               </div>


	               	
	               <div class="col-sm-12 feature" style="height: 530px;padding-top: 40px;">
	                  
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  		 <iframe width="1050" height="530" frameborder="0" scrolling="no" src="{{ url_for ('pdist3')}}"></iframe>

	                  		
	                     
	                  </div>
	               </div>

	               <div class="col-sm-12 feature" style="height: 530px;padding-top: 40px;">
	                  
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  		 <iframe width="1050" height="530" frameborder="0" scrolling="no" src="{{ url_for ('pdist3')}}"></iframe>

	                  		
	                     
	                  </div>
	               </div>
	            
	            	
	            </div>
	        </div>


	    
	  		 
	            
	            	
	            </div>
	        </div>
	    </div> 
    </div>          
 </section></div>










    
</div></div>

<div style="padding-top: 60px; padding-bottom: 40px;"> </div>

<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">

    
    

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
   
<div class="cmp-globalfooter aem-GridColumn aem-GridColumn--default--12"><footer class="container footer">
   <div class="row mg-20">
      
     
      <div class="col-sm-7 col-sm-offset-0 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4 social-share">
          <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/facebook_36x36.png')}}" alt="Facebook" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/linkedin_36x36.png')}}" alt="LinkedIn" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/twitter_36x36.png')}}" alt="Twitter" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/youtube_36x36.png')}}" alt="YouTube" class="img-responsive"></a>

      </div>
   </div>
   <div class="row">
      <div class="col-md-8 copyright">
      <canvas id="canvas"></canvas>
         <p class="copyright-text">&copy; 2018 BISP, Inc. and/or its affiliates. All rights reserved.</p>
      </div>
   </div>
</footer></div>
<!-- <div class="cmp-freeform aem-GridColumn aem-GridColumn--default--12">

    


<section class="port">
	
</section>
</div> -->

    
</div></div>

    
</div>
</div>

    
</div></div>

	
</div>
        
    
	<script type=text/javascript src="{{
	url_for('static', filename='ngw/etc/designs/emt/dependencies.min.10e6ed3e5298a3e83fbb0d34eb09efcc.js') }}"></script>
    
	<script type=text/javascript src="{{
	url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.27686db02bc4b00d5d7578b369ea934f.js') }}"></script>

        

    </body>

</html>
