
<!DOCTYPE HTML>
<html lang="en">
    

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <title>BISP</title>
    
    <meta name="description" content="Benazir Income Support Program"/>
    <meta name="template" content="global-home-page-template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Custom SEO tags  -->
	
	<meta name="og:url" content="en.html"/>
	<script type="text/javascript" src="en/ruxitagentjs_ICA2SVfqr_10137171222133618.js" data-dtconfig="featureHash=ICA2SVfqr|lastModification=1526452505394|dtVersion=10137171222133618|tp=500,50,0,1|agentUri=/en/ruxitagentjs_ICA2SVfqr_10137171222133618.js|reportUrl=/en/rb_bf28149orj|rid=RID_1501609|rpid=2093196344|domain=gartner.com"></script><link rel="canonical" href="en.html"/>
	
		<meta name="og:locale" content="en_US"/>
	
		<meta name="og:type" content="website"/>
	
		<meta name="og:title" content="BISP: Benazir Income Support Program"/>
	
		<meta name="og:description" content="Benazir Income Support Program"/>
	
		<meta name="og:site_name" content="BISP"/>
	
		<meta name="google-site-verification" content="t3s6jPMvuABTwKzUF2jHu3H-YCL0XYAhePwkoXKDYe4"/>
	
		<meta name="google-site-verification" content="1yO6BbgFgHj_yTXIbKz1Yn5fGeeJyiC7WjPPuOJmp_A"/>
	

    

    

	

<script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({"page":{"type":"home page","assetType":["article","blog","event","podcast","research","webinar"],"title":"Fueling the future of business","siteName":"corporate marketing","author":null,"dateOfPublication":null,"originalPublicationDate":"2018-02-12T17:00:00.109Z","mediaDuration":null,"hasMultiMedia":false,"role":null,"industry":null,"theme":null,"categoryLevel1":"Corporate Marketing","categoryLevel2":"Home","categoryLevel3":null,"categoryLevel4":null,"categoryLevel5":null,"promotions":null,"gatedAsset":false},"gartnerEvent":{"eventCode":null,"eventGroup":null,"eventPrimaryRole":null,"eventSecondaryRole":null,"eventLocation":null,"eventTitle":null,"eventStartDate":null,"eventKeyWord":null,"eventRegion":null,"eventType":null,"eventVenueName":null,"eventCurrentMarketingMilestone":null,"eventDaysUntilEventStart":null,"eventWeeksUntilEventStart":null,"marketingManagerName":null,"eventPrice":null,"eventPriceUSD":null,"eventCurrency":null,"eventKeyNoteSpeakers":null,"eventCountofCurrentRegistrants":null},"user":{"userId":null,"creationDate":null,"lastLoginDate":null,"companySize":null,"industryName":null,"jobRole":null,"secondaryJobRole":null,"jobTitle":null,"type":null,"location":null,"country":null,"region":null,"isLoggedIn":null,"countOfEventsAttended":null,"isGartnerClient":null,"market":null,"premiumBoolean":null,"CompanyName":null},"event":"datalayer-initialized"});
</Script>

	
	
	<!--Optimize Page-hide Snippet-->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-M5GGQ9G':true});
</script>
<!-- Google Optimize Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-8394889-3', {'cookieDomain':'auto', 'allowLinker':true, 'legacyHistoryImport':false });
  ga('require', 'GTM-M5GGQ9G');
</script>


    
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../www.googletagmanager.com/gtm5445.html?id='+i+dl+'';f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWNT3B3');</script>
<!-- End Google Tag Manager -->



<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/dependencies.min.7325ef9a8f8b7d0e4454232d42851ced.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.e1c0df31ca5fb0536cccbb4d406087b5.css')}}" type="text/css">

<!-- quarterly -->   

<script type=text/javascript src="{{
  url_for('static', filename='amcharts/amcharts.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='amcharts/pie.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='amcharts/serial.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='amcharts/plugins/export/export.min.js') }}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='amcharts/plugins/export/export.css')}}" type="text/css" media="all">

<script type=text/javascript src="{{
  url_for('static', filename='amcharts/themes/mytheme.js') }}"></script>
  
  <script type=text/javascript src="{{
  url_for('static', filename='amcharts/themes/dark.js') }}"></script>
  
  <script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.3.1.js') }}"></script>



<!-- Chart code -->
<script>
var chart = AmCharts.makeChart("chartdiv3", {
    "theme": "mytheme",
    "type": "serial",
    "dataProvider": [{
        "Quarter": "2014 Q1",
        "Non-compliant": 4071,
        "Compliant": 23998
    }, {
        "Quarter": "2014 Q2",
        "Non-compliant": 5244,
        "Compliant": 20747
    }, {
        "Quarter": "2014 Q3",
        "Non-compliant": 8471,
        "Compliant": 35666
    }, {
        "Quarter": "2014 Q4",
        "Non-compliant": 5962,
        "Compliant": 36699
    }, {
        "Quarter": "2015 Q1",
        "Non-compliant": 5482,
        "Compliant": 32271
    }, {
        "Quarter": "2015 Q2",
        "Non-compliant": 98951,
        "Compliant": 192089
    }, {
        "Quarter": "2015 Q3",
        "Non-compliant": 241712,
        "Compliant": 419573
    }, {
        "Quarter": "2015 Q4",
        "Non-compliant": 62438,
        "Compliant": 513809
    }, {
        "Quarter": "2016 Q1",
        "Non-compliant": 73632,
        "Compliant": 735428
    }],
    "valueAxes": [{
        "stackType": "3d",
        "position": "left",
        "title": "Number of Students",
        "gridAlpha": 0.1
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "Students Non-Compliant in [[category]]: <b>[[value]]</b>",
        "fillAlphas": 0.5,
        "lineAlpha": 0.1,
        "title": "Non-compliant",
        "type": "column",
        "valueField": "Non-compliant",
        "lineColor": "#2f4074"
        

    }, {
        "balloonText": "Students Compliant in [[category]]: <b>[[value]]</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "Compliant",
        "type": "column",
        "valueField": "Compliant",
        "lineColor": "#b28d08"
    }],
    "plotAreaFillAlphas": 0.1,
    "depth3D": 60,
    "angle": 30,
    "categoryField": "Quarter",
    "categoryAxis": {
        "gridPosition": "start",
        "gridAlpha": 0.1,
        "title": "Quarter",
    },
    "export": {
      "enabled": true
     },
     "titles":[{
            "text": "Attendance Compliance - Quarterly",
            "size": 14
            
        }]
});
jQuery('.chart-input').off().on('input change',function() {
  var property  = jQuery(this).data('property');
  var target    = chart;
  chart.startDuration = 0;

  if ( property == 'topRadius') {
    target = chart.graphs[0];
        if ( this.value == 0 ) {
          this.value = undefined;
        }
  }

  target[property] = this.value;
  chart.validateNow();
});
</script>


<script>
//Line graph WeT - Yearwise admissions 1
var chart = AmCharts.makeChart("chartdiv4", {
  "type": "serial",
  "theme": "mytheme",
  "dataProvider": [{
    "category": "2014",
    "GB": 7758,
    "AJK": 1612,
    "Baluchistan":1989

  }, {
    "category": "2015",
    "GB": 12876,
    "AJK": 30769,
    "Baluchistan":22435
  }, {
    "category": "2016",
    "GB": 1887,
    "AJK": 1804,
    "Baluchistan":1981
  }],
  "valueAxes": [{
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  }],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [{
    "title": "GB",
    "balloonText": "Admissions in [[title]]: <b>[[value]]</b>",
    "bullet": "round",
    "bulletSize": 10,
    "bulletBorderColor": "#ffffff",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "valueField": "GB",
    "lineThickness": 2,
    "lineColor": "#9e0113"
  }, {
    "title": "AJK",
    "balloonText": "Admissions in [[title]]: <b>[[value]]</b>",
    "bullet": "round",
    "bulletSize": 10,
    "bulletBorderColor": "#ffffff",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "valueField": "AJK",
    "lineThickness": 2,
    "lineColor": "#0f5991"
    
  },
  {
    "title": "Baluchistan",
    "balloonText": "Admissions in [[title]]: <b>[[value]]</b>",
    "bullet": "round",
    "bulletSize": 10,
    "bulletBorderColor": "#ffffff",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "valueField": "Baluchistan",
    "lineThickness": 2,
    "lineColor": "#993b00"
    
  }],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "category",
  "categoryAxis": {
    "title": "Year",
    "gridPosition": "start",
    "gridAlpha": 0
  },
   "valueAxes":[{
    "title": "Number of Admissions",
    "gridAlpha": 0
  }],
 
  "legend": {},
  "titles": [
        {
            "text": "Waseela-e-Taleem Admissions - Yearly",
            "size": 14
            
        }]
});



//Yearwise admissions 2

var chart = AmCharts.makeChart("chartdiv5", {
  "type": "serial",
  "theme": "mytheme",
  "dataProvider": [{
    "category": "2014",
    "KP": 4832,
    "Sindh": 2664,
    "Punjab":0

  }, {
    "category": "2015",
    "KP": 206386,
    "Sindh": 411626,
    "Punjab":267008

  }, {
    "category": "2016",
    "KP": 40962,
    "Sindh": 80441,
    "Punjab":175796

  }],
  "valueAxes": [{
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  }],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [{
    "title": "KP",
    "balloonText": "Admissions in [[title]]: <b>[[value]]</b>",
    "bullet": "round",
    "bulletSize": 10,
    "bulletBorderColor": "#ffffff",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "valueField": "KP",
    "lineThickness": 2,
    "lineColor": "#993b00"

  }, {
    "title": "Sindh",
    "balloonText": "Admissions in [[title]]: <b>[[value]]</b>",
    "bullet": "round",
    "bulletSize": 10,
    "bulletBorderColor": "#ffffff",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "valueField": "Sindh",
    "lineThickness": 2,
    "lineColor": "#0f5991"
  },
  {
    "title": "Punjab",
    "balloonText": "Admissions in [[title]]: <b>[[value]]</b>",
    "bullet": "round",
    "bulletSize": 10,
    "bulletBorderColor": "#ffffff",
    "bulletBorderAlpha": 1,
    "bulletBorderThickness": 2,
    "valueField": "Punjab",
    "lineThickness": 2,
    "lineColor": "#9e0113"
    
  }],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "category",
  "categoryAxis": {
    "title": "Year",
    "gridPosition": "start",
    "gridAlpha": 0
  },
   "valueAxes":[{
    "title": "Number of Admissions",
    "gridAlpha": 0
  }],
 
  "legend": {},
  "titles": [
        {
            "text": "Waseela-e-Taleem Admissions - Yearly",
            "size": 14
            
        }]
});



</script>




<!-- Chart code -->
<script>
var chart = AmCharts.makeChart( "chartdiv", {
  "type": "serial",
  "addClassNames": true,
  "depth3D": 20,
  "angle": 30,
  "theme": "mytheme",
  "autoMargins": true,

  "balloon": {
    "adjustBorderColor": false,
    "horizontalPadding": 10,
    "verticalPadding": 8,
    "color": "#ffffff"
  },

  "dataProvider": [{
        "Quarter": "2014 Q1",
        "Admission Payment": 0.00,
        "Attendance Payment": 13.13,
        "Total Payment":13.13
    }, {
        "Quarter": "2014 Q2",
        "Admission Payment": 10.69,
        "Attendance Payment": 12.09,
        "Total Payment":22.78
    }, {
        "Quarter": "2014 Q3",
        "Admission Payment": 0.00,
        "Attendance Payment": 20.54,
        "Total Payment":20.54
    }, {
        "Quarter": "2014 Q4",
        "Admission Payment": 0.00,
        "Attendance Payment": 21.26,
        "Total Payment":21.26
    }, {
        "Quarter": "2015 Q1",
        "Admission Payment": 152.68,
        "Attendance Payment": 18.83,
        "Total Payment":171.51
    }, {
        "Quarter": "2015 Q2",
        "Admission Payment": 279.93,
        "Attendance Payment": 141.55,
        "Total Payment":421.48
    }, {
        "Quarter": "2015 Q3",
        "Admission Payment": 9.78,
        "Attendance Payment": 307.09,
        "Total Payment":316.87
    }, {
        "Quarter": "2015 Q4",
        "Admission Payment": 216.01,
        "Attendance Payment": 377.43,
        "Total Payment": 593.44
    }, {
        "Quarter": "2016 Q1",
        "Admission Payment": 87.24,
        "Attendance Payment": 538.86,
        "Total Payment":626.11
    },{
        "Quarter": "2016 Q2",
        "Admission Payment": 124.19,
        "Attendance Payment": 0.00,
        "Total Payment":124.19
    }],

  "valueAxes": [ {
    "axisAlpha": 0,
    "position": "left",
    "title": "Amount in Million PKR"
  } ],

  "startDuration": 1,
  "graphs": [ {
    "alphaField": "alpha",
    "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
    "fillAlphas": 1,
    "title": "Admission Payment",
    "type": "column",
    "valueField": "Admission Payment",
    "lineColor": "#cc4748"
  }, 
  {
    "alphaField": "alpha",
    "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "title": "Attendance Payment",
    "type": "column",
    "valueField": "Attendance Payment",
        "lineColor": "#2f4074"
  }, {
    "id": "graph2",
    "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
    "bullet": "round",
    "lineThickness": 3,
    "bulletSize": 7,
    "bulletBorderAlpha": 1,
    "bulletColor": "#FFFFFF",
    "useLineColorForBulletBorder": true,
    "bulletBorderThickness": 3,
    "fillAlphas": 0,
    "lineAlpha": 1,
    "title": "Total Payment",
    "valueField": "Total Payment",
    "lineColor": "#b28d08"
  } ],
  "categoryField": "Quarter",
  "categoryAxis": {
    "gridPosition": "start",
    "axisAlpha": 0,
    "tickLength": 0,
    "gridAlpha": 0.1,
    "title": "Quarter"
  },
  "titles": [{
    "text": "CCT Waseela-e-Taleem Payments - Quarterly",
    "size": 14
  }],
  "export": {
    "enabled": true
  }
} );
</script>


</head>
    <body>
        


        <div class="cover"></div>
<div class="emt-container" style="overflow-x: hidden">
     
     <input type="hidden" value="false" id="authorMode"/>
	

	
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWNT3B3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	<div class="cmp-globalsitenavigation">
	

<header>
    <div class="container-fluid">
        <div class="container top-nav">
          
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Site Navigation Start -->
<div id="navigation-affix" class="navigation" data-toggle="affix">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="{{ url_for ('new')}}" class="navbar-brand">
                <img src="{{ url_for('static', filename='ngw/logo.jpg')}}" alt="logo" class="logo img-responsive" width="100px">
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#globalMainMenu" aria-controls="globalMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="login.html">
                <div class="for-mobile m-signin">
                    <img class="nav-icons" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
                </div>
            </a>
            <div class="for-mobile m-search">
                <img class="nav-icons" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"   />
            </div>
            <div class="collapse navbar-collapse" id="globalMainMenu">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        

                      <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('utransfer')}}">Unconditional Cash Transfers</a>
                  
                    </li>
                    
                
                    <li class="nav-item">
                        
                      <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('wtaleem')}}">Waseela-E-Taleem</a>
                     
                    </li>
                    
                
                    <li class="nav-item">
                           <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('whaq')}}">Waseela-E-Haq</a>
                      
                      </a>
                        
                    </li>


                     <li class="nav-item">
                           <a class="dropdown-item back" href="#"><i class="fa fa-chevron-left"></i> Back</a> <a class="dropdown-item child-link" data-sublink="fin-leaders" id="fin-leaders" data-nav="link" href="{{ url_for ('bdata')}}">Bahawalpur Data</a>
                      
                      </a>
                        
                    </li>
                
                 
               
              <!--  End  -->

                    <li class="bac for-mobile">
                        <div style="padding: 35px 15px 15px;" class="mobile-bac-text">
                            
   <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>

   </div>

                        </div>
                    </li>
                </ul>
                <div class="side-nav" style="float: right; padding-top: 14px">
                    <!-- <span class="navicon client hide" style="padding-top: 5px;">
	           		    <a class="green-text" href="technology/contact/become-a-client.html" target="blank">Become a Client</a>
	            	</span> -->
                    <span class="navicon cli-detail" style="margin-right: 5px; margin-top: -7px;">
                 		
  <!--  <div class="bac-text-wrapper">
      <h5>
<strong>Call <a style="text-decoration: none;"><span style="color: rgb(122,184,0);" class="InfinityNumber">(+92) 0800 26477</span></a> or <span style="color: rgb(122,184,0);"><a href="#" >contact us</a></span></strong>
</h5>

   </div> -->

               		</span>
                    <span class="navicon"> 
                    	<span class="d-search hide cmp-search">
               				


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
               			</span> 
	                     <span> 
	               			<img class="nav-icons d-search-affix" id="search-img" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search.jpg') }}"  />
							
							<img class="nav-icons d-search-affix hide" id="search-img-grey" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_search_grey.jpg') }}"   />
	              		</span>
                        <a class="signinredirect" href="login.html" style="padding-left: 5px;">
                            <img class="nav-icons submit-affix" src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/icon_login.jpg') }}"   />
                        </a>
                    </span>
                    
					
                    
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="m-search-dropdown d-search-slide slideUp cmp-search">
    


    

<span class="inner-addon right-addon">
	<input id="searchString" type="text" class="form-control mr-sm-2 searchString" placeholder="Search" aria-label="Search" required/>
	<input type="hidden" id="searchTargetUrl" value="search/site/freecontent/simple.html"/>
 	<i class="glyphicon glyphicon-search searchNow"></i>
</span>
</div>
<!-- Site Navigation End -->

</div>
	<div class="root responsivegrid">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 ">
    
    

<div class="cmp-globalinsights aem-GridColumn aem-GridColumn--default--12">


    

<section class="home-insight" style="margin-left: 0px; margin-right: 10px">
   <div class="tabs_wrapper" style="margin: 0;">
   	  <ul class="tabs" style="width: 1%;">  
         <li class="active" rel="tab1">Background<i class=" fa fa-chevron-right pull-right"></i></li>
         
         <li rel="tab2">Insights<i class="hide fa fa-chevron-right pull-right"></i></li>
         
         <!-- <li rel="tab3">Payment Distribution 2<i class="hide fa fa-chevron-right pull-right"></i></li>
         
         <li rel="tab4">Payment Distribution Mechanism<i class="hide fa fa-chevron-right pull-right"></i></li> -->
         

       </ul>
	  	<div class="tab_container" style="width: 80%;">
	  		 <div class="accordian-drawer" rel="tab1">
	  		 	<h3 class="tab_drawer_heading">Background</h3>	
	  		 	<i class="more-less glyphicon glyphicon-plus pull-right">
	  		 	</i>
	  		 </div>	         
	         <div id="tab1" class="tab_content" style="width: 1110px">
	            <div class="row">
	            	<div class="col-sm-12 feature">
	                  <!-- <div class="tag-type">Webinar</div> -->
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" style="background-image: url({{ url_for('static', filename='ngw/commonassets/images/vis-imagery/photography/tile/fin_biggest_Investment_Underperforming.jpg') }});">
	                     <a class="feature-content mx-auto my-auto">
	                        <h3 class="heading"><strong>Background</strong></h3>
	                        <p class="content hidden-xs hidden-sm">WeT was developed by BISP in consultation with all the programme stakeholders WeT Programme, a Co-responsibility Cash Transfer (CCT) Programme of BISP that was initiated to financially support the primary education of 5 to 12 years old children of BISP beneficiary families for their enrolments and retention. Each beneficiary child receives a cash transfer of PKR 750 per quarter upon meeting the admission verification in 1st quarter and attendance requirement of 70% in subsequent quarters till completion of the primary education. It is part of the Graduation strategy aiming to link the Unconditional Cash Transfer (UCT) to attainment of human development goals.</p>
	                        <!-- <span class="link">Watch now </span>   -->                    
	                     </a>
	                  </div>
	               </div>
	            
	            	
	            </div>
	        </div>
	    
	  		 <div class="accordian-drawer" rel="tab2">
	  		 	<h3 class="tab_drawer_heading">Payment Distribution 1</h3>	
	  		 	<i class="more-less glyphicon glyphicon-plus pull-right">
	  		 	</i>
	  		 </div>	         
	         <div id="tab2" class="tab_content" style="width: 1110px">
	            <div class="row">
	            	<div class="col-sm-12 feature" style="height: 530px;">
	                  
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  	<iframe width="1030" height="520" frameborder="0" scrolling="no" src="{{ url_for ('wet')}}"></iframe>
	                     
	                  </div>
	               </div> 
	               <!-- <div style="padding-bottom: 20px;"> </div> -->

                  <div class="col-sm-6 feature" style="height: 500px;padding-top: 40px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader" >

                      <div id="chartdiv3" style="width: 545px; height: 430px;"></div>

                   
                       
                    </div>
                 </div>

                 <div class="col-sm-6 feature" style="height: 500px;padding-top: 40px;">
                    
                    <div class="feature-category-content lazy" data-loader="insightsLoader" >

                      <div id="chartdiv" style="width: 545px; height: 430px;"></div>
                       
                    </div>
                 </div>

	               		
	               <div class="col-sm-6 feature" style="height: 500px;padding-top: 40px;">
	                  
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  	<div id="chartdiv4" style="width: 545px; height: 430px;"></div>
	                     
	                  </div>
	               </div>

	               <div class="col-sm-6 feature" style="height: 500px;padding-top: 40px;">
	                  
	                  <div class="feature-category-content lazy" data-loader="insightsLoader" >

	                  	<div id="chartdiv5" style="width: 545px; height: 430px;"></div>
	                     
	                  </div>
	               </div>

	               

	              
	            
	            	
	            </div>
	        </div>


	    
	    
	  		 
	            
	            	
	            </div>
	        </div>
	    </div> 
    </div>          
 </section></div>










    
</div></div>

<div style="padding-top: 60px; padding-bottom: 40px;"> </div>

<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">

    
    

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
   
<div class="cmp-globalfooter aem-GridColumn aem-GridColumn--default--12"><footer class="container footer">
   <div class="row mg-20">
      
     
      <div class="col-sm-7 col-sm-offset-0 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4 social-share">
         <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/facebook_36x36.png')}}" alt="Facebook" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/linkedin_36x36.png')}}" alt="LinkedIn" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/twitter_36x36.png')}}" alt="Twitter" class="img-responsive"></a>
		 <a href="#"><img src="{{ url_for('static', filename='ngw/globalassets/en/images/icons/youtube_36x36.png')}}" alt="YouTube" class="img-responsive"></a>
      </div>
   </div>
   <div class="row">
      <div class="col-md-8 copyright">
         <p class="copyright-text">&copy; 2018 BISP, Inc. and/or its affiliates. All rights reserved.</p>
      </div>
   </div>
</footer></div>


    
</div></div>

    
</div>
</div>

    
</div></div>

	
</div>
        
    
    
	<script type=text/javascript src="{{
	url_for('static', filename='ngw/etc/designs/emt/dependencies.min.10e6ed3e5298a3e83fbb0d34eb09efcc.js') }}"></script>
    
	<script type=text/javascript src="{{
	url_for('static', filename='ngw/etc/designs/emt/clientlibs/global.min.27686db02bc4b00d5d7578b369ea934f.js') }}"></script>
    


        

    </body>

</html>
