<!doctype html>
<html>

<head>
    
    	<script type=text/javascript src="{{
	url_for('static', filename='graph/dist/Chart.js') }}"></script>
	
	<script type=text/javascript src="{{
	url_for('static', filename='graph/utils.js') }}"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div id="container" style="width: 100%;">
        <canvas id="canvas"></canvas>
    </div>
    
    <script>
        
        var color = Chart.helpers.color;
        var horizontalBarChartData = {
            labels: ['AJK', 'Baluchistan', 'GB', 'KP', 'Punjab', 'Sindh'],
            datasets: [{
                label: 'Registered Children  Till Date',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [41438,32552,42382,241984,215805,402136]
            }, {
                label: 'Admissions made Till Date',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                data: [30717,22071,27817,146142,79671,261870]
            },
               {
                label: 'Admissions Pending Till Date',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.yellow,
                data: [10721,10481,14565,95842,136134,140266]



            }]

        };

        window.onload = function() {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myHorizontalBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: horizontalBarChartData,
                options: {
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'No. Of Registrations'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Provinces'
                            }
                        }]
                },
                    

                    // Elements options apply to all of the options unless overridden in a dataset
                    // In this case, we are setting the border of each horizontal bar to be 2px wide
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'Waseela-e-Taleem - Registrations'
                    }
                }
            });

        };

        
    </script>
</body>

</html>
