/* Masthead fixes */

.col-lg-6.content-bottom {
    bottom: 0%;
    left: auto;
}

.masthead {
    margin-bottom: 30px;
}


/* Layout fixes */

.cmp-columncontrol.aem-GridColumn {
    margin: 20px 0px;
}

.cmp-backgroundcontainer.aem-GridColumn > div > div {
    padding: 60px 0px;
}

.cmp-backgroundcontainer.aem-GridColumn {
    margin: 0px;
}

a.btn.btn-success.global-button {
    margin: 20px 0px;
    font-size: 24px;
}

.row.column-control-row {
    margin: 20px 0px;
}

.cmp-backgroundcontainer .cmp-columncontrol.aem-GridColumn {
    margin: 0px;
}

.cmp-articletext.aem-GridColumn--default--none.aem-GridColumn {
    margin: 20px 0px;
}

.row.column-control-row .cmp-articletextn {
    margin: 10px 0px;
}

.cmp-backgroundcontainer.aem-GridColumn.aem-GridColumn--default--12 section .background-container {
    padding: 35px 0px;
}


/* Text Fixes */

body {
    font-size: medium;
}

article.centertext.article-text {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Helvetica Neue LT W01_71488914", Helvetica, sans-serif
}

h1 {
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 15px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    margin: 25px 0px 10px;
}

h3 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 10px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
    line-height: 24px;
}

h6 {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 19px;
}

p.subtitle {
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

p a, h5 a {
    color: rgb(122, 184, 0)!important
}

hr {
    border-top: 4px solid #ddd;
    margin: 5px 0px 15px;
}

.cmp-backgroundcontainer [style="background-color:#00589D"] {
    color: #fff
}

.center {
    text-align: center;
}


/* Featuredbox Styling */

.cmp-featuredbox .feature-box {
    background-color: transparent
}

.centerimage img.img-responsive {
    margin: auto;
}


/*.card div.row div div {
    background-color: #fff;
}*/

.centerimage img.img-responsive {
    margin: auto;
}

@media screen and (max-width:1024px) and (min-width:640px) {
    /*Tablet Font Sizes*/
    h1 {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 28px;
        line-height: 32px;
        margin: 25px 0px 10px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 20px;
        line-height: 24px;
    }
    h6 {
        font-size: 14px;
        line-height: 18px;
    }
    p.subtitle {
        font-size: 20px;
        line-height: 26px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width:640px) {
    .col-lg-6.content-bottom {
        bottom: -20%;
    }
    .col-md-6:nth-child(2) {
        margin-top: 15px;
    }
    .cmp-backgroundcontainer + .cmp-heading {
        margin-top: 20px;
    }
    h3 {
        margin-bottom: 10px;
    }
    .col-sm-4 {
        margin-top: 15px;
    }
    .col-sm-4:first-child {
        margin-top: 0px;
    }
    /*Mobile Font Sizes*/
    h1 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 26px;
        line-height: 30px;
        margin: 25px 0px 10px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 18px;
        line-height: 22px;
    }
    h6 {
        font-size: 14px;
        line-height: 18px;
    }
    p.subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
    }
}